// brand colours
$darkBlue: #22313f;
$yellow: #f6f49d;
$pink: #ff7676;

// fb
$facebookBlue: #448aff;

// other
$white: #FFFFFF;
$black:#000000;
$grey: #787878;

// rgba
$pinkBg: rgba(255, 118, 118, .95);
$yellowBg: rgba(246, 244, 157, .95);
$darkBlueBg: rgba(34, 49, 63, .98);

//media queries
$device: "screen and (max-width: 959px)";
$smallDevice: "screen and (max-width: 320px)";
$mediumDevice: "screen and (max-width: 450px)";
$desktop: "screen and (min-width: 960px)";