.language {

  margin:auto;

  article {

    margin-top:0;

    &.column {
      width:70%;

      ul.language-list {
        float:left;
        width:100%;
        li {
          float:left;
          width:20%;
          a {
            color:#AAA;
            text-decoration: none;
            font-weight: 100;
            font-size:12px;
            &:hover {
              color:$white;
            }
          }
        }
      }

      .button {
        clear:left;
        float:left;
        margin-top:60px;
        width:100%;
        text-align: center;
      }
    }
  }

  figure {
    &.column {
      width:30%;
    }
  }

  h1 {
    font-size:2.8rem;
  }

  h2 {
    margin:10px 0 10px 0;
    font-size:1.6rem;
    font-weight: 100;
    line-height:1.3;
  }
}