<footer>
  <div class="above">
    <a target="_blank" href="https://www.facebook.com/Mucho-Lingo-376719332451798">Made with mucho <i class="fa fa-heart"></a> in Brisbane</a>
  </div>
  <div class="below">
    <ul>
      <li class="header">Popular translations:</li>
      <li><a href="/translate/english/spanish">English to Spanish</a></li>
      <li><a href="/translate/english/mandarin">English to Mandarin</a></li>
      <li><a href="/translate/english/japanese">English to Japanese</a></li>
      <li><a href="/translate/english/portuguese">English to Portuguese</a></li>
      <li><a href="/translate/english/italian">English to French</a></li>
      <li><a href="/translate/german/english">German to English</a></li>
      <li><a href="/translate/korean/english">Korean to English</a></li>
      <li><a href="/translate/indonesian/english">Indonesian to English</a></li>
      <li><a href="/translate/mandarin/english">Mandarin to English</a></li>
      <li><a href="/translate/russian/english">Russian to English</a></li>
    </ul>
  </div>
</footer>
