<div class="index">
    <article class="column">
      <h1><span class="typed">Mucho Lingo</span></h1>
      <h2>Your personal translator.</h2>
      {{> button }}
    </article>
    <figure class="column">
      {{> device}}
    </figure>
  </div>
</div>