<div class="translate">
    <article class="column">
      <h1>Translate {{from}} to {{to}}</h1>
      <h2>Chat with me on Messenger to help you translate from {{from}} to {{to}}</h2>
      {{> button}}
    </article>
    <figure class="column">
      {{> device}}
    </figure>
  </div>
</div>